* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  margin: 0;
}

.header {
  padding: 80px;
  text-align: center;
  background: #ffc904;
  color: black;
}

.header h1 {
  font-size: 50px;
  font: Georgia;
}

.header h2 {
  font-size: 30px;
  font: Georgia;
}

.header h3 {
  font-size: 20px;
  text-align: center;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: nowrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%;
  /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 50px;
  font-size: 20px;
}

.documents {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 50px;
  padding-top: 0px;
  font-size: 20px;
}

.videos {
  -ms-flex: 70%;
  /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 50px;
  padding-top: 0px;
  font-size: 20px;
}

.break {
  padding: 10px;
  text-align: center;
  background: #333;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ffc904;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}
