.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    padding: 10;
    display: inline;
  }

  li {
    display: inline;
    margin: 10;
    padding: 10;
  }

  a {
    padding: 20;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }