name: Deploy to Server

on:
  workflow_dispatch:
    pull_request:
      branches: 
        - main
      types:
        - closed

jobs:
  if_merged:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-20.04
    steps:
    - run: apt upgrade && apt install openconnect -y
    - run: sudo openconnect --protocol=anyconnect --authgroup='UCF Students' --background secure.vpn.ucf.edu
